<div class="row">
  <div class="col-xs-6 ">
    <div class="form-group">
      <label for="comment">Enter Text:</label>
      <textarea class="form-control" rows="31"  id="comment" [ngModel]="sample" (keyup)="updateOutput($event.target.value)"></textarea>
    </div>
  </div>
  <div class="col-xs-6">

    <div class="form-group">
      <label for="comment">CONVERTED:</label>
      <div class="converted" style="min-height: 200px;" [innerHTML]="convertedText">CONVERTED TEXT</div>
    </div>

  </div>
</div>
